footer {
  /* border: 0.1rem solid green; */
  background-color: #252323;
  color: #ccc;
  height: 2rem;
  padding: 0.5rem;
  display: flex;
  /* justify-content: center; */
  align-content: center;
  align-items: center;
}