@import url("cabecalho.css");
@import url("painel.css");
* {
  font-family: "Segoe UI", tahoma, geneva, Verdana;
  font-size: 16px;
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body{
    background: #eee;
    color: #5e5e5e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.login-box{
    width: 10rem;
    background: #8d8d8d;
    padding: 7rem;

    margin: auto;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

}

.campo label{
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.campo-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}


input {
  width: 15rem;
  height: 1rem;
  padding: 0.5rem;
  border: none;
  background: #d9d9d9;
  color: #000;
}

input::placeholder {
  color: #555;
}

