@import url("cabecalho.css");
@import url("corpo.css");
@import url("menulateral.css");
@import url("cartao.css");
@import url("rodape.css");
@import url("responsividade.css");

* {
  font-family: "Segoe UI", tahoma, geneva, Verdana;
  font-size: 16px;
  margin: 0rem;
  padding: 0rem;
}

html {
  border: .1rem solid blue; 
}

body {
  /* border: .1rem solid purple; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}






